/* =========================================
   2. MOBILE SPECIFIC OVERRIDES (Max-width)
   ========================================= */
@media (max-width: 768px) {
  .logo-content {
    width: 60%;
  }
  .logo img {
    height: 40px;
    width: 50px;
  }
  .title-header {
    font-size: 16px;
  }

  .footer {
    padding: 26px 45px 26px 67px;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

/* =========================================
   3. TABLET SCREENS (Min-width: 768px)
   ========================================= */
@media (min-width: 768px) {
  .header {
    padding: 14px 32px;
  }

  .logo img {
    margin-left: 35px;
    font-size: 24px;
  }
  .title-header {
    font-size: 24px;
  }

  .login-account-container {
    max-width: 500px;
    padding: 38px;
    gap: 22px;
  }

  .form-title {
    font-size: 32px;
    line-height: 41px;
  }

  .form-content {
    margin: 0 29px 0 18px;
  }

  .form-fields {
    gap: 18px;
  }

  .form-input {
    padding: 14px 10px;
    font-size: 11px;
    line-height: 14px;
  }

  .signup-btn {
    padding: 10px 27px;
    font-size: 13px;
    line-height: 17px;
    margin-top: 27px;
  }

  .signup-link {
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
  }

  .footer {
    padding: 26px 45px 26px 67px;
  }

  .footer-content {
    margin-right: 4px;
    margin: 42px;
  }
}

/* =========================================
   4. DESKTOP SCREENS (Min-width: 1024px)
   ========================================= */
@media (min-width: 1024px) {
  .header {
    padding: 16px 40px;
  }

  .logo {
    font-size: 32px;
    line-height: 41px;
    margin-left: 4px;
  }

  .login-account-container {
    max-width: 600px;
    padding: 48px;
    gap: 27px;
  }

  .form-title {
    font-size: 40px;
    line-height: 51px;
  }

  .form-content {
    margin: 0 38px 0 24px;
  }

  .form-fields {
    gap: 22px;
  }

  .form-input {
    padding: 16px 12px;
    font-size: 12px;
    line-height: 16px;
  }

  .signup-btn {
    padding: 12px 34px;
    font-size: 15px;
    line-height: 19px;
    margin-top: 34px;
  }

  .signup-link {
    font-size: 16px;
    line-height: 18px;
    margin-top: 14px;
  }

  .footer {
    padding: 32px 56px 32px 84px;
  }

  .footer-content {
    margin: 42px;
  }
}
